<app-task-form (taskAdded)="loadTasks()"></app-task-form>


<div class="container d-flex mt-4">
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Título</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>
          <span *ngIf="!task.editar">{{ task.titulo }}</span>
          <input *ngIf="task.editar" type="text" [(ngModel)]="task.titulo" class="form-control">
        </td>
        <td>
          <span class="badge" [ngClass]="task.completo ? 'bg-success' : 'bg-warning'">
            {{ task.completo ? 'Concluído' : 'Pendente' }}
          </span>
        </td>
        <td>
          <button class="btn btn-sm " [ngClass]="!task.completo ? 'btn-outline-success' : 'btn-outline-warning'" (click)="toggleTaskStatus(task)">
            {{ task.completo ? 'Macar como Pendente' : 'Marcar como Concluído' }}
          </button>
          <button class="btn btn-outline-secondary btn-sm mx-2" (click)="!task.editar ? editTask(task) : saveTask(task)" > {{ !task.editar ? 'Editar' : 'Salvar' }}</button>
          <button class="btn btn-outline-danger btn-sm" (click)="deleteTask(task.id)">Excluir</button>
        </td>
      </tr>
    </tbody>

  </table>
</div>
